<div class="container mt-5">
  <button class="btn btn-info" (click)="formAction()">Create User</button>

  
<router-outlet></router-outlet>


  <table class="table mt-5">
    <thead>
      <tr class="bg-info">
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Company</th>
        <th scope="col">DOB</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of usersData ;let ind=index">
        <td>{{data.firstName}}</td>
        <td>{{data.lastName}}</td>
        <td>{{data.email}}</td>
        <td>{{data.phone}}</td>
        <td>{{data.company}}</td>
        <td>{{data.dob}}</td>
        <td><button class="btn btn-outline-success" (click)="updateProduct(data.id)" >Edit</button></td>
        <td><button class="btn btn-outline-danger" (click)="deleteProduct(data.id,ind)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>